*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    min-width: 100%;
    padding: auto;
    background-color: #2d2d29;
    color: #fcfbe5;
}

header,
section h2,
section h3,
form button {
    font-family: 'Orbitron', sans-seri
}

body, input, textarea {
    background-color: #fcfbe5;
    font-family: 'Sora', sans-serif;
}

header nav li {
    display: inline;
    margin-left: 128px;
    font-size: 16px;
}

header nav li a {
    color: #fcfbe5;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: start;
}

header .container img {
    height: 64px;
    margin-right: 1px;
}

.brands-list img {
    margin: 2px;
    padding: 1px;
    box-sizing: border-box;
}

.brands-list,
.logo_chevrolet {
    height: 30px;
}
.brands-list,
.logo_ford {
    height: 30px;
}
.brands-list,
.logo_land-rover {
    height: 35px;
}
.brands-list,
.logo_mercedes {
    height: 35px;
}
.brands-list,
.logo_volkswagen {
    height: 40px;
}

.brands-list li {
    display: inline;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px;
    color: #2d2d29;
}

section h2 {
    margin-bottom: 8px;
    margin-top: 64px;
    margin-left: 16px;
}

section .store-front {
    margin-top: 64px;
    height: 256px;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

footer {
    background-color: #2d2d29;
    color: #fcfbe5;
    padding: 16px 0;
}

.social-links img {
    height: 24px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #2d2d29;
    color: #fcfbe5;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #42422d;
}

input:focus, textarea:focus {
    outline-color: #2d2d29;
}